html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.map {
  transform: rotateX(45deg) rotateZ(45deg);
  font-size: 0;
}

.row {
  height: 12.5%;
}

.tile {
  width: 12.5%;
  height: 100%;
  display: inline-block;
  position: relative;
  border: 1px solid #bbb;
  background-color: #eee;
}

.room {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 12.5%;
  background-color: transparent;
}

.tile:hover {
  background-color: #ddd;
}

.tile:active {
  background-color: #ccc;
}

.tile[data-link] .room:before, .tile[data-link] .room:after,
.tile[data-state] .room:before, .tile[data-state] .room:after {
  content: "";
  position: absolute;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  background-color: #fff;
  z-index: 1;
}

.tile[data-link] .room:before, .tile[data-link] .room:after,
.tile[data-state] .room:before, .tile[data-state] .room:after,
.tile:hover .room:before, .tile:hover .room:after,
.tile:active .room:before, .tile:active .room:after {
  background-color: #fff;
}

.tile[data-link~="top"] .room:before {
  top: 0;
}

.tile[data-link~="right"] .room:after {
  right: 0;
}

.tile[data-link~="bottom"] .room:before {
  bottom: 0;
}

.tile[data-link~="left"] .room:after {
  left: 0;
}

.tile[data-state="fight"] .room:before, .tile[data-state="fight"] .room:after {
  background-color: #f88;
}

.tile[data-state="clear"] .room:before, .tile[data-state="clear"] .room:after {
  background-color: #8f8;
}

.tile[data-state="enter"] .room:before, .tile[data-state="enter"] .room:after {
  background-color: #88f;
}
